repos/
.bash_history
.bash_logout
.bashrc
.bundle/
.composer/
.config/
.gem/
.gitconfig
.local/
.npm/
.profile
.viminfo
.xbuild/
alp
backup/
gocode/
nginx_access.log
private_isu/LICENSE
private_isu/manual.md
private_isu/public_manual.md
private_isu/webapp/golang/
private_isu/webapp/node/
private_isu/webapp/php/
private_isu/webapp/public/image/
